:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  body {
    background-color: black;
  }
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1728px;
    height: 1117px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .line {
    position: absolute;
    width: 1728px;
    height: 1117px;
    top: 0;
    left: 0;
    background: black
      no-repeat center;
    background-size: cover;
  }
  .universal-upscaler {
    position: absolute;
    width: 45px;
    height: 142px;
    top: 35px;
    left: 605px;
    background: url()
      no-repeat center;
    background-size: cover;
    z-index: 2;
  }
  .group {
    position: absolute;
    width: 898px;
    height: 249px;
    top: 63px;
    left: 531px;
    background: url(/assets/logo1.gif)
      no-repeat center;
    background-size: cover;
    z-index: 1;
  }
  .leonardo-phoenix {
    position: absolute;
    width: 471px;
    height: 396px;
    top: 172px;
    left: 445px;
    background: url()
      no-repeat center;
    background-size: cover;
    z-index: 4;
  }
  .flex-row-ca {
    position: relative;
    width: 571px;
    height: 213px;
    margin: 60px 0 0 154px;
    z-index: 14;
  }
  .rectangle {
    position: absolute;
    width: 180px;
    height: 67px;
    margin: 100px 0 0 0px;
    top: 0;
    left: 0;
    cursor: pointer;
    background: #ffffff;
    border: none;
    z-index: 8;
  }
  .carte-mere {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 44px;
    margin: 100px 0 0 0px;
    top: 11px;
    left: 6px;
    color: #000000;
    font-family: Mochiy Pop One, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 34.752px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
  }
  .line-1 {
    position: absolute;
    width: 5px;
    height: 191.031px;
    top: 22px;
    left: 566px;
    background: url()
      no-repeat center;
    background-size: cover;
    z-index: 9;
  }
  .line-2 {
    position: absolute;
    width: 162.037px;
    height: 4.975px;
    top: 19.025px;
    left: 406.963px;
    background: url()
      no-repeat center;
    background-size: cover;
    z-index: 10;
  }
  .flex-row-a {
    position: relative;
    width: 181px;
    height: 121px;
    margin: 36px 0 0 636px;
    z-index: 7;
  }
  .rectangle-3 {
    position: absolute;
    width: 174px;
    height: 121px;
    top: 0;
    left: 100;
    background: #ffffff;
    z-index: 6;
  }
  .assemblage-des-composants {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 175px;
    height: 85px;
    top: 6px;
    left: 6px;
    color: #000000;
    font-family: Mochiy Pop One, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 34.752px;
    text-align: left;
    z-index: 7;
  }
  .line-4 {
    position: absolute;
    width: 5px;
    height: 174.034px;
    top: 617px;
    left: 1225px;
    background: url()
      no-repeat center;
    background-size: cover;
    z-index: 12;
  }
  .leonardo-phoenix-a-young-black-man {
    position: absolute;
    width: 557px;
    height: 433px;
    top: 667px;
    left: 215px;
    background: url(assets/einstein.png)
      no-repeat center;
    background-size: cover;
    z-index: 3;
  }
  .line-5 {
    position: absolute;
    width: 3px;
    height: 52px;
    top: 741px;
    left: 1094px;
    background: url()
      no-repeat center;
    background-size: cover;
    z-index: 13;
  }
  .line-6 {
    position: absolute;
    width: 131.046px;
    height: 5px;
    top: 788px;
    left: 1096.954px;
    background: url()
      no-repeat center;
    background-size: cover;
    z-index: 11;
  }
  .une-revolution-du-monde {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 321px;
    height: 201px;
    top: 793px;
    left: 500px;
    color: #ffffff;
    font-family: Modak, var(--default-font-family);
    font-size: 19px;
    font-weight: 400;
    line-height: 36.141px;
    text-align: left;
    z-index: 5;
    -webkit-text-stroke: 1px #000000;
  }
  footer {
    background-color: rgba(29, 29, 29, 0.75);
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    color: #ffffff;
    font-family: Modak, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 36.141px;
    z-index: 4;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #000000;
  }
  
  footer div div {
    font-size: 14px;
    line-height: 1.5;
  }
  
  
  .footer-logos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
    align-items: center; 
  }
  
  .logo-1 {
    width: 298px;
    padding-left: 300px;
  }
  
  .logo-2 {
    width: 168px;
    padding-right: 320px;
  }

