:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1728px;
    height: 1117px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .pnf {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(https://img.wattpad.com/0e152fce488ae75df1c5807863928e514c1c37b3/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f2d6a4b57486155554a78334772673d3d2d3932373539353036382e3136323562643461633864353531373532363934333230353033362e676966)
      no-repeat center;
    background-size: cover;
  }
  .caca {
    position: absolute;
    width: 814px;
    height: 216px;
    top: 0;
    left: 0;
    background: url(/assets/logo.svg)
      no-repeat center;
    background-size: cover;
  }
  .group {
    position: absolute;
    width: 898px;
    height: 249px;
    top: 32px;
    left: 451px;
    background: url()
      no-repeat center;
    background-size: cover;
    z-index: 1;
  }
  .universal-upscaler {
    position: relative;
    width: 68px;
    height: 194px;
    margin: 50px 0 0 98px;
    background: url(.https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/db9ed8c9-b18e-40d7-9b96-eb34d64138e6/dfosskc-49e08cd4-a9b3-43f5-a773-8f7928ed1b7e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RiOWVkOGM5LWIxOGUtNDBkNy05Yjk2LWViMzRkNjQxMzhlNlwvZGZvc3NrYy00OWUwOGNkNC1hOWIzLTQzZjUtYTc3My04Zjc5MjhlZDFiN2UucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.gwD2_K1dz5Ocx6a1p3TrVLHYveANkLmqkL9lDzX7Y_Q)
      no-repeat center;
    background-size: cover;
    z-index: 2;
  }
  .de {
    position: absolute;
    width: 433px;
    height: 475px;
    top: 44px;
    left: 1295px;
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/db9ed8c9-b18e-40d7-9b96-eb34d64138e6/dfosskc-49e08cd4-a9b3-43f5-a773-8f7928ed1b7e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2RiOWVkOGM5LWIxOGUtNDBkNy05Yjk2LWViMzRkNjQxMzhlNlwvZGZvc3NrYy00OWUwOGNkNC1hOWIzLTQzZjUtYTc3My04Zjc5MjhlZDFiN2UucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.gwD2_K1dz5Ocx6a1p3TrVLHYveANkLmqkL9lDzX7Y_Q)
      no-repeat center;
    background-size: cover;
    z-index: 8;
  }
  .nos-produits-partage {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 1101px;
    height: 174px;
    top: 302px;
    left: 390px;
    color: #ffffff;
    font-family: Modak, var(--default-font-family);
    font-size: 64px;
    font-weight: 400;
    line-height: 96.375px;
    text-align: left;
    z-index: 6;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #000000;
  }
  .leonardo-phoenix {
    position: absolute;
    width: 400px;
    height: 480px;
    top: 548px;
    left: 0;
    background: url()
      no-repeat center;
    background-size: cover;
    z-index: 3;
  }
  .besoins-aide {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 543px;
    height: 174px;
    top: 698px;
    left: 345px;
    color: #ffffff;
    font-family: Modak, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 36.141px;
    text-align: left;
    z-index: 4;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #000000;
  }
  .leonardo-phoenix-animated {
    position: absolute;
    width: 196px;
    height: 196px;
    top: 921px;
    left: 1532px;
    background: url()
      no-repeat center;
    background-size: cover;
    z-index: 7;
  }
  .assistance-24-24 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 61px;
    top: 1038px;
    left: 1109px;
    color: #ffffff;
    font-family: Modak, var(--default-font-family);
    font-size: 48px;
    font-weight: 400;
    line-height: 61px;
    text-align: left;
    white-space: nowrap;
    z-index: 5;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px #000000;
  }
  